/* html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: cadetblue;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} */

/* CSS */
.flex-container {
    display: flex;
    /* make it a flexbox */
    flex-flow: row wrap;
    /* specify layout */
    justify-content: space-around;
    /* decide what to do with empty space */
    margin: 0;
    padding: 10px;
    list-style: none;
}

.flex-item {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    background: blue;
    color: white;
    line-height: 100px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.logo {
    width: auto;
    height: 150px;
}

/*Bottom Area*/
.bottomArea {
    background-color: #424243;
    height: 250px;
    color: #fff;
    font-size: .8rem;
}

.bottomArea p {
    font-size: .7rem;
}

.bottomArea h5 {
    font-weight: 800;
    font-size: 16px;
}

.w-60 {
    width: 60% !important;
}

.h-30 {
    width: 30% !important;
}

.w-20 {
    width: 20% !important;
}

/*Responsive code*/

@media (min-width: 576px) {
    .banner {
        height: 200px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .banner {
        height: 300px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .banner {
        height: 400px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}